.card1, .card2, .card3, .card4
{
    border: 1px solid #696;
    padding: 60px 0;
    text-align: center;
    width: 200px;
    /*самое жестокое это бордер радиус и он работает*/
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: #666 0px 2px 1px;
    -moz-box-shadow: #666 0px 2px 1px;
    box-shadow: #666 0px 2px 1px;
    background: #DAF7DA;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#DAF7DA), to(#2F932F));
    background: -webkit-linear-gradient(#DAF7DA, #2F932F);
    background: -moz-linear-gradient(#DAF7DA, #2F932F);
    background: -ms-linear-gradient(#DAF7DA, #2F932F);
    background: -o-linear-gradient(#DAF7DA, #2F932F);
    background: linear-gradient(#DAF7DA, #2F932F);
    -pie-background: linear-gradient(#DAF7DA, #2F932F);
    behavior: url(PIE/PIE.htc);
}

.card3
{
    margin: -139px auto -430px 205px;

}

.card4
{
    margin: 140px auto auto 205px;

}